@using Dashboard.DataDto.User
@model IEnumerable<AccountFbDto>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Danh sách tài khoản Facebook</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Tên tài khoản</th>      
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UserName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
